<!-- create-event-form template -->
<script type="text/template"  id="create-event-form">

  <div>

    <form action="#" class="form"
    v-on:submit.prevent="continue"
    v-on:keypress.enter.prevent="handleTabIndex($event)"
    v-el:form>

      <!-- create-your-event-section -->
      <div class="create-your-event-section"
          v-show="activeStep === 'Create your event'">

        <div class="input event-name">

          <label for="event-name" class="input_label">
            <span class="input_label_content">Event name</span>
          </label>

          <input type="text" name="event-name" class="input_field"
              autocomplete="off" minlength="12" autofocus required 
              v-on:focus="setInFocus($event)"
              v-on:blur="inFocus = ''"
              v-on:keyup="updateValidityState($event)"
              v-bind:value="formData['event-name']"
              v-bind:disabled="activeStep !== 'Create your event'"/>
        
        </div> <!-- /input event-name -->

        <div class="input event-type">

          <label for="event-type" class="input_label">
            <span class="input_label_content">Event type</span>
          </label>
          
          <input type="text" name="event-type" class="input_field"
              list="event-types" autofill="off" minlength="4" required 
              v-on:focus="setInFocus($event)"
              v-on:blur="inFocus = ''"
              v-on:keyup="updateValidityState($event)"
              v-on:input="updateValidityState($event)"
              v-bind:value="formData['event-type']"
              v-bind:disabled="activeStep !== 'Create your event'"/>

          <datalist id="event-types">
            <option value="Adult Birthday Party">Adult Birthday Party</option>
            <option value="Anniversary">Anniversary</option>
            <option value="Baby Shower">Baby Shower</option>
            <option value="Bachelor Party">Bachelor Party</option>
            <option value="Banquet">Banquet</option>
            <option value="Bar/Bat Mitzvah">Bar/Bat Mitzvah</option>
            <option value="Book Release">Book Release</option>
            <option value="Bridal Shower">Bridal Shower</option>
            <option value="Child Birthday Party">Child Birthday Party</option>
            <option value="Conference">Conference</option>
            <option value="Corporate Event">Corporate Event</option>
            <option value="Film">Film</option>
            <option value="Graduation Party">Graduation Party</option>
            <option value="Holiday Party">Holiday Party</option>
            <option value="Luncheon">Luncheon</option>
            <option value="Meeting">Meeting</option>
            <option value="Music festival">Music festival</option>
            <option value="Pool Party">Pool Party</option>
            <option value="Prom">Prom</option>
            <option value="Quinceañera">Quinceañera</option>
            <option value="Retreat">Retreat</option>
            <option value="Reunion">Reunion</option>
            <option value="Seminar">Seminar</option>
            <option value="Sporting">Sporting</option>
            <option value="Teen Birthday Party">Teen Birthday Party</option>
            <option value="Wedding">Wedding</option>
            <option value="Wedding Reception">Wedding Reception</option>
            <option value="Workshop">Workshop</option>
          </datalist>

        </div> <!-- /input event-type -->

        <div class="input event-host">
          
          <label for="event-host" class="input_label">
            <span class="input_label_content">Event host</span>
          </label>
          
          <input type="text" name="event-host" class="input_field"
              autocomplete="off" required 
              v-on:focus="setInFocus($event)"
              v-on:blur="inFocus = ''"
              v-on:keyup="updateValidityState($event)"
              v-bind:value="formData['event-host']"
              v-bind:disabled="activeStep !== 'Create your event'"/>

        </div> <!-- /input event-host -->

      </div>
      <!-- /create-your-event-section -->
      
      <!-- set-the-details-section -->
      <div class="set-the-details-section"
          v-show="activeStep === 'Set the details'">
        
        <div class="input location">
          
          <label for="location" class="input_label">
            <span class="input_label_content">Location</span>
          </label>
          
          <input type="text" name="location" class="input_field"
              autocomplete="off" required 
              v-el:location
              v-on:focus="setInFocus($event) & openCloseDatePickers($event)"
              v-on:blur="inFocus = ''"
              v-on:keyup="updateValidityState($event)"
              v-bind:value="formData['location']"
              v-bind:disabled="activeStep !== 'Set the details'"/>
        
        </div> <!-- /input location -->

        <div class="input start-date">

          <label for="start-date" class="input_label">
            <span class="input_label_content">Start date / time</span>
          </label>
          
          <input type="text" name="start-date" class="input_field"
              autocomplete="off" required
              pattern="(0[1-9]|[1-2][0-9]|3[0-1])\/(0[1-9]|1[0-2])\/20[0-9]{2}\s\(([0-1][0-9]|2[0-3]):([0-5][0-9])\)"
              v-el:start-date
              v-on:focus="setInFocus($event) & openCloseDatePickers($event)"
              v-on:blur="inFocus = ''"
              v-on:keyup="updateValidityState($event)"
              v-bind:value="formData['start-date']"
              v-bind:placeholder="(inFocus === 'start-date') ? startDatePicker.getDateString() : ''"
              v-bind:disabled="activeStep !== 'Set the details'"/>

        </div> <!-- /input start-date -->

        <div class="startDatePickerHolder"
            v-el:start-date-picker-holder
            v-bind:style="{ display:
              (activeStep === 'Set the details') ? 'block' : 'none'}">
        </div> 

        <div class="input end-date">

          <label for="end-date" class="input_label">
            <span class="input_label_content">End date / time</span>
          </label>
          
          <input type="text" name="end-date" class="input_field"
              autocomplete="off" required 
              pattern="(0[1-9]|[1-2][0-9]|3[0-1])\/(0[1-9]|1[0-2])\/20[0-9]{2}\s\(([0-1][0-9]|2[0-3]):([0-5][0-9])\)"
              v-el:end-date
              v-on:focus="setInFocus($event) & openCloseDatePickers($event)"
              v-on:blur="inFocus = ''"
              v-on:keyup="updateValidityState($event)"
              v-bind:value="formData['end-date']"
              v-bind:placeholder="(inFocus === 'end-date') ? endDatePicker.getDateString() : ''"
              v-bind:disabled="activeStep !== 'Set the details'"/>

        </div> <!-- /input end-date -->

        <div class="endDatePickerHolder"
            v-el:end-date-picker-holder
            v-bind:style="{ display:
              (activeStep === 'Set the details') ? 'block' : 'none'}">
        </div>

      </div>
      <!-- /set-the-details-section -->

      <!-- invite-your-friends-section -->
      <div class="invite-your-friends-section"
          v-show="activeStep === 'Invite your friends'">

        <div class="input invite-email">

          <label for="invite-email" class="input_label">
            <span class="input_label_content">Email</span>
          </label>
          
          <input type="email" name="invite-email" class="input_field"
              autocomplete="off"
              multiple
              v-on:focus="setInFocus($event)"
              v-on:blur="inFocus = ''"
              v-on:keyup="updateValidityState($event)"
              v-bind:value="formData['invite-email']"
              v-bind:disabled="activeStep !== 'Invite your friends'"/>

        </div> <!-- /input invite-email -->

      </div>
      <!-- /invite-your-friends-section -->

      <button type="submit" class="button" v-el:submit>
        
        <span class="button-label-top">
          {{ (nextStep === 'Submit your event') ? "final step" : "continue to" | uppercase }}
        </span>
        
        <span class="button-label-next">
          {{ nextStep }}
        </span>
        
        <i class="mi mi-arrow-forward button-icon"></i>
      
      </button>

    </form>
    <!-- info -->
    <div v-el:info class="info">

      <ul v-show="inFocus === 'event-name'" class="checklist">
        
        <li v-bind:class="{'checklist-item--succes':!validityState['event-name'].tooShort && !validityState['event-name'].valueMissing}" class="checklist-item">

          <i class="mi mi-check-circle"></i>
          
          <span class="checklist-item-text">

            Name your event. Be descriptive, i.e. 12 or more characters.
          
          </span>
        
        </li>

      </ul>

      <ul v-show="inFocus === 'event-type'" class="checklist">
        
        <li v-bind:class="{'checklist-item--succes':!validityState['event-type'].valueMissing}" class="checklist-item">

          <i class="mi mi-check-circle"></i>
          
          <span class="checklist-item-text">

            Select the category that best reflects your event, or add a new one.
          
          </span>
        
        </li>

        
        <li v-bind:class="{'checklist-item--succes':!validityState['event-type'].tooShort && !validityState['event-type'].valueMissing}" class="checklist-item">

          <i class="mi mi-check-circle"></i>
          
          <span class="checklist-item-text">

            Event type is 4 or more characters long.

          </span>
        
        </li>

      </ul>

      <ul v-show="inFocus === 'event-host'" class="checklist">
        
        <li v-bind:class="{'checklist-item--succes':!validityState['event-host'].valueMissing}" class="checklist-item">

          <i class="mi mi-check-circle"></i>
          
          <span class="checklist-item-text">

            Add an event host (could be an individual’s name or an organization).
          </span>
        
        </li>

      </ul>

      <ul v-show="inFocus === 'location'" class="checklist">
        
        <li v-bind:class="{'checklist-item--succes':!validityState['location'].valueMissing}" class="checklist-item">

          <i class="mi mi-check-circle"></i>
          
          <span class="checklist-item-text">

            Start typing and select a location.

          </span>
        
        </li>

      </ul>

      <ul v-show="inFocus === 'start-date'" class="checklist">
        
        <li v-bind:class="{'checklist-item--succes':!validityState['start-date'].valueMissing && !validityState['start-date'].patternMismatch}" class="checklist-item">

          <i class="mi mi-check-circle"></i>
          
          <span class="checklist-item-text">

            When does it start? Use the calander to set a start date & time.

          </span>
        
        </li>

      </ul>

      <ul v-show="inFocus === 'invite-email'" class="checklist">
        
        <li v-bind:class="{'checklist-item--succes':!validityState['invite-email'].valueMissing && validityState['invite-email'].valid}" class="checklist-item">

          <i class="mi mi-check-circle"></i>
          
          <span class="checklist-item-text">

            Invite your friends! Multiple email addresses must be comma separated. (optional)

          </span>
        
        </li>

      </ul>

      <ul v-show="inFocus === 'end-date'" class="checklist">
        
        <li v-bind:class="{'checklist-item--succes':!validityState['end-date'].valueMissing && !validityState['end-date'].patternMismatch}" class="checklist-item">

          <i class="mi mi-check-circle"></i>
          
          <span class="checklist-item-text">

            When does it end? Use the calander to set an end date & time.

          </span>
        
        </li>

      </ul>

  <!--     <div class="startDatePickerHolder"
          v-el:start-date-picker-holder
          v-bind:style="{ display:
            (inFocus === 'start-date' || !inFocus && activeStep === 'Set the details') ? 'block' : 'none'}">
      </div> -->

  <!--     <div class="endDatePickerHolder"
          v-el:end-date-picker-holder
          v-bind:style="{ display:
            (inFocus === 'end-date' || !inFocus && activeStep === 'Set the details') ? 'block' : 'none'}">
      </div> -->
      <!--  -->

    </div>
    <!-- /info -->

  </div>

</script>
<!-- /create-event-form template -->
